        <div id="bottombar">

            <a href="homescreen.html">
                <div class="bottomicons">
                    <i class="fas fa-home fa-4x"></i>
                    <span class="icontext">Home</span>
                </div>
            </a>

            <a href="support.html">
                <div class="bottomicons">
                    <i class="fas fa-hands-helping fa-4x"></i>
                    <span class="icontext">Simple++ Help</span>
                </div>
            </a>

            <div class="bottomicons trigger">
                <i class="fas fa-search-plus fa-4x"></i>
                <span class="icontext">Enlarge</span>
                <div class="modal">
                    <div class="modal-content">
                        <h2>Please select your text size:
                            <br>
                            <input type="range" value="0" min="16" max="28">
                        </h2>
                        <script>textSize();</script>
                    </div>
                </div>
            </div>

            <a href="settings.html">
                <div class="bottomicons">
                    <i class="fas fa-cog fa-4x"></i>
                    <span class="icontext">Settings</span>
                </div>
            </a>

        </div>