<div id="iconscreen1">
        <center>Insert your basic info
        </center>
        <form method="post" action="/firstaid">
        Name<br><input type="text" name="name" placeholder="<%= data.name %>">
        <br>Age<br><input type="text" name="age" placeholder="<%= data.age %>">
        <br>Height<br><input type="text" name="height" placeholder="<%= data.height %>">
        <input type="submit">
        </form>
    </div>