<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple++ </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript.js"></script>
    <script src="zounds.min.js"></script>

</head>

<body onload="resizeIndividualModule()">
    <div id="mainscreen">
        <div id="topbar">
            <span class="textleft">Simple++</span>
            <span class="textcenter">Home</span>
            <span class="textright">Welcome!</span>
        </div>