<%- include partials/moduletop %>

<div class="container-fluid extmodulescreen">
    <div class="modrow">
        <div class="modcolumn">
            <p class="toptext">Amend your information:</p>
            <form method="post" action="/firstaid">
                Age<br>
                <input id="age" type="text" name="age"><br>
                Weight<br>
                <input id="userweight" type="text" name="userweight"><br>
                Home Address<br>
                <input id="userhome" type="text" name="userhome"><br>
                Emergency Contact<br>
                <input id="contact" type="text" name="contact"><br>
                Medication<br>
                <input id="medication" type="text" name="medication"><br>
                Allergies<br>
                <input id="allergies" type="text" name="allergies"><br>
                <input id="submit" type="submit"><br>
            </form>
          
            
        </div>
        <div class="modcolumn">
            <div id="food">
                <p class="toptext">In the last 5 days you ate:<br></p>
                <ul>
                    <%  if (foods !== undefined) { for (var i = 0; i < 5; i++) { %>
                    <li>
                        <%=foods[i] %></a>
                    </li>
                    <% } } %>
                </ul>
            </div>
            <div id="details"></div>
                <script type='text/javascript' src="/external_modules/firstaid/firstaid.js"></script>
                <script>firstAid()</script>
            
        </div>
    </div>
</div>
<%- include partials/modulebottom %>