<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple++ Settings</title>
    <meta charset="utf-8">
    <meta id="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script type="text/javascript" src="zounds.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>

<body onload="resizeSettings(); loadBars()">
    <div id="mainscreen">
        <div id="topbar">
            <span class="textcenter">Simple++ Choose your settings</span>
        </div>

        <div class="container-fluid" id="soundanimation">
            <form action="/config" method="post">
                <div id="checkboxes">

                    <input type="checkbox" name="soundchoice" id="soundchoice" />
                    <label class="configoption" for="soundchoice">
                        <div class="white">
                            <i class="fontselectscreen fas fa-volume-up"></i>
                            <span class="icontext">Sound</span>
                        </div>
                    </label>

                    <input type="checkbox" name="animationchoice" id="animationchoice" />
                    <label class="configoption" for="animationchoice">
                        <div class="white">
                            <i class="fontselectscreen fas fa-video-slash"></i>
                            <span class="icontext">Animation</span>
                        </div>
                    </label>

                </div>
                <div class="buttonarea"><input id="configbutton" type="submit"></div>
            </form>
        </div>

        <% include partials/bottom.ejs %>

    </div>

</body>

</html>