<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple++</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript.js"></script>
    <script type="text/javascript" src="zounds.min.js"></script>
</head>

<body onclick="zounds.playURL('click.mp3');" onload="readJSON()">

    <div id="mainscreen">
        <div id="topbar">
            <span class="textleft">Simple++</span>
            <span class="textcenter">Home</span>
            <span class="textright">Welcome
                <%= name %>!</span>
        </div>

        <div id="iconscreen1">

            <a href="/firstaid">
                <div class="icons" id="firstaid" >
                    <i class="fontbody fas fa-medkit"></i>
                    <span class="icontext">First Aid</span>
                </div>
            </a>

            <div class="icons" id="video">
                <i class="fontbody fas fa-video"></i>
                <span class="icontext" >Video</span>
            </div>

            <div class="icons" id="presc">
                <i class="fontbody fas fa-prescription-bottle"></i>
                <span class="icontext">Prescriptions</span>
            </div>

            <div class="icons" id="hospital">
                <i class="fontbody fas fa-hospital"></i>
                <span class="icontext">Local Aid</span>
            </div>

            <div class="icons" id="diary">
                <i class="fontbody fas fa-book"></i>
                <span class="icontext">Diary</span>
            </div>

            <a href="/nutrition">
                <div class="icons" id="nutrition">
                    <i class="fontbody fas fa-utensils"></i>
                    <span class="icontext">Nutrition</span>
                </div>
            </a>

            <div class="icons" id="symptom">
                <i class="fontbody fas fa-user-md"></i>
                <span class="icontext">Symptoms</span>
            </div>
            <a href="bshome.html">
                <div class="icons" id="emergency">
                    <i class="fontbody fas fa-exclamation-triangle"></i>
                    <span class="icontext">Emergency</span>
                </div>
            </a>
        </div>
        <% include partials/bottom.ejs %>
    </div>
</body>

</html>