<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple++ Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript.js"></script>
    <script type="text/javascript" src="zounds.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body onload="readJSON(); loadBars()">

    <div id="mainscreen">
        <div id="topbar">
            <span class="textleft">Simple++</span>
            <span class="textright">Welcome!</span>
        </div>

        <div class="container-fluid" id="iconscreen1">
            <div class="icons" id="firstaid" onclick="document.location.href='/firstaid';">
                <i class="fontbody fas fa-medkit"></i>
                <span class="icontext">FIRST AID</span>
            </div>

            <div class="icons" id="video">
                <i class="fontbody fas fa-video"></i>
                <span class="icontext">VIDEO</span>
            </div>

            <div class="icons" id="presc">
                <i class="fontbody fas fa-prescription-bottle"></i>
                <span class="icontext">PRESCRIPTION</span>
            </div>

            <div class="icons" id="hospital">
                <i class="fontbody fas fa-hospital"></i>
                <span class="icontext">LOCAL AID</span>
            </div>

            <div class="icons" id="diary">
                <i class="fontbody fas fa-book"></i>
                <span class="icontext">DIARY</span>
            </div>

                <div class="icons" id="nutrition" onclick="document.location.href='/nutrition';">
                    <i class="fontbody fas fa-utensils"></i>
                    <span class="icontext">NUTRITION</span>
                </div>

            <div class="icons" id="symptom">
                <i class="fontbody fas fa-user-md"></i>
                <span class="icontext">SYMPTOMS</span>
            </div>
            <a href="bshome.html">
                <div class="icons" id="emergency">
                    <i class="fontbody fas fa-exclamation-triangle"></i>
                    <span class="icontext">EMERGENCY</span>
                </div>
            </a>
        </div>
        <% include partials/bottom.ejs %>
    </div>
</body>

</html>