<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple++</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript.js"></script>

</head>

<body onload="readJSON()">

    <div id="mainscreen">
        <div id="topbar">
            <span class="textleft">Simple++</span>
            <span class="textcenter">Home</span>
            <span class="textright">Welcome, insert_username!</span>
        </div>

        <div id="iconscreen1">

            <a href="module.html">
                <div class="icons" id="firstaid">
                    <i class="fas fa-medkit fa-10x"></i>
                    <span class="icontext">First Aid</span>
                </div>
            </a>

            <a href="module.html">
                <div class="icons" id="video">
                    <i class="fas fa-video fa-10x"></i>
                    <span class="icontext">Video Appointment</span>
                </div>
            </a>

            <a href="module.html">
                <div class="icons" id="presc">
                    <i class="fas fa-prescription-bottle fa-10x"></i>
                    <span class="icontext">Prescriptions</span>
                </div>
            </a>

            <a href="module.html">
                <div class="icons" id="hospital">
                    <i class="fas fa-hospital fa-10x"></i>
                    <span class="icontext">Local Aid</span>
                </div>
            </a>

            <a href="module.html">
                <div class="icons" id="diary">

                    <i class="fas fa-book fa-10x"></i>
                    <span class="icontext">Health Diary</span>
                </div>
            </a>

            <a href="module.html">
                <div class="icons" id="nutrition">

                    <i class="fas fa-utensils fa-10x"></i>
                    <span class="icontext">Nutrition</span>
                </div>
            </a>

            <a href="module.html">
                <div class="icons" id="symptom">
                    <i class="fas fa-user-md fa-10x"></i>
                    <span class="icontext">Symptom Checker</span>
                </div>
            </a>

            <a href="module.html">
                <div class="icons" id="emergency">
                    <i class="fas fa-exclamation-triangle fa-10x"></i>
                    <span class="icontext">Emergency</span>
                </div>
                <h2>
                    <%= data %>
                </h2>
            </a>
        </div>
        <% include partials/bottom.ejs %>
    </div>
</body>

</html>