<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple++</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body onload="resizeSupport(); loadBars()">

    <div id="mainscreen">
        <div id="topbar">
            <span class="textleft">Simple++</span>
            <span class="textcenter">Home</span>
            <span class="textright">Welcome <%= name %>!</span>
        </div>

        <div class="container-fluid" id="supportscreen">
                <div class="iconssupport" id="livechat">
                    <i class="fonthelp fas fa-comments"></i>
                    <span class="icontext">Live Chat</span>
                </div>
                <div class="iconssupport" id="phone">
                    <i class="fonthelp fas fa-phone-square"></i>
                    <span class="icontext">Call Us</span>
                </div>
                <div class="iconssupport" id="email">
                    <i class="fonthelp fas fa-at"></i>
                    <span class="icontext">Email Us</span>
                </div>
        </div>

        <% include partials/bottom.ejs %>

    </div>
</body>

</html>