<head>
    <title>Simple++ </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--Enables full screen when web app used on iPhone or iPad-->
    <link rel="stylesheet" type="text/css" href="/external_modules/bus/main.css">
    <link rel="stylesheet" type="text/css" href="/external_modules/bus/bus.css">
    <script src='http://code.jquery.com/jquery-1.12.0.min.js'></script>
    <script src="/external_modules/bus/localstorage.js"></script>
    <!-- Loads hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" crossorigin="" />
    <script src="/external_modules/bus/bus.js"></script>
    <link rel="stylesheet" href="/external_modules/bus/print.css" type="text/css" media="print" />
    <!--JQuery Datepicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-uk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.css"></script>
</head>

<body onload="resizeIndividualModule(); loadBars()">
    <div id="mainscreen">
        <div id="topbar">
            <span class="textcenter">Simple++</span>
        </div>
        <div class="container-fluid extmodulescreen">
            <div id="menu">
                <h1 id="main">Where would you like to go?</h1>
                <form name="directions">

                    <div class="mode-group">
                        <div class="modeButton" aria-label="Change transport mode">
                            <input type="radio" name="mode" value="WALKING" id="changemode-walking"><i class="fas fa-walking fa-1x mode"
                                aria-hidden="true" aria-label="Change mode to walking"></i>
                        </div>
                        <div class="modeButton">
                            <input type="radio" name="mode" value="TRANSIT" id="changemode-transit" checked="checked"><i
                                class="fas fa-bus fa-1x mode" aria-hidden="true" aria-label="Change mode to bus"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="origin-input">From</label>
                        <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location"
                            aria-label="Input origin location" autocomplete="off">
                    </div>
                    <!--id="location-address"-->
                    <div class="form-group">
                        <label for="destination-input">To&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input id="destination-input" class="controls" type="text" placeholder="Enter a destination location"
                            aria-label="Input destination location" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="datepicker">Date&nbsp;</label>
                        <input type="text" id="datepicker" placeholder="06/09/2018" aria-label="Date use format: 6-Sep-18"
                            autocomplete="off">
                    </div>
                    <script>
                        $("#datepicker").datepicker({
                            showOn: "both",
                            //formatDate: "dd-mm-yy",
                            minDate: new Date(),
                            maxDate: new Date(new Date().setMonth(new Date().getMonth() + 2)),
                            onSelect: function () {
                                selectedDate = $(this).datepicker("option", "formatDate", "dd,mm,yy").val();
                                //selectedDate = formatted.datepicker('getDate'); //unfortunately getting date and time 00:00
                            }
                        });
                    </script>

                    <div class="form-group">
                        <label>Time</label>
                        <select aria-label="hour" name="hours" class="timedropdown" id="hour" onChange="selectHour();">
                            <option selected="" value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                        <select aria-label="minutes" name="minutes" class="timedropdown" id="minute" onChange="selectMinute();">
                            <option selected="" value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>

                    <script>
                        function selectHour() {
                            var hour = document.getElementById('hour');
                            selectedHour = hour.value;
                            console.log(hour.value);
                        }

                        function selectMinute() {
                            var minute = document.getElementById('minute');
                            selectedMinute = minute.value;
                            console.log(minute.value);
                            finalTime = selectedDate + ' ' + selectedHour + ':' + selectedMinute;
                            console.log(finalTime);
                            navTime = new Date(finalTime);
                        }
                    </script>
                    <button class="submitbutton" type="button" onclick="getHome()">Home</button>
                    <script>


                        function setOrigin() {
                            var value = $('#origin-input').val(); //document.getElementById('origin-input').value;
                            localStorage.setItem("user_selected_origin", value);
                            //$( "#origin-input" ).trigger("change");
                        }
                        function getOrigin() {
                            if (localStorage.getItem("user_selected_origin") === null) {// Check if there is selected date. 
                                return "";
                            }
                            return localStorage.getItem("user_selected_origin");
                        }
                    </script>
                    <!--</form>-->

                </form>
            </div>
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9QnFC_OUIiBwYfUI4QEaLLi0haqa5COI&v=3&libraries=places&callback=initMap"
                async defer></script>
        </div>
        <%- include partials/bottom %>
    </div>
</body>

</html>