<%- include partials/moduletop %>
<div class="container-fluid extmodulescreen">
    <div class="modcolumn">
        <p class="toptext">You are currently taking:</p>
        <%= medication %>
    </div>
</div>

<%- include partials/modulebottom %>