<%- include partials/moduletop %>
<div class="container-fluid extmodulescreen">
        <p id="toptext">What did you eat yesterday?</p>
        <form method="post" action="/nutrition">
            <input id="fooddiary" type="text" name="fooddiary">
            <input id="submit" type="submit">
        </form>
        <div id="foodlist"><b>Food Log</b>:
            <ul>
                <% for (var i = 0; i < foods.length; i++) { %>
                    <li>
                        (<%= foods[i].date %>)
                        <%= foods[i].fooditem %>
                    </li>
                    <br>
                    <% } %>
            </ul>
        </div>
        <div id="detailsdiv"></div>
        <script src="/external_modules/nutrition/nutrition.js"></script>
        <script>food()</script>
    </div>
    <%- include partials/modulebottom %>